<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Companies page</title>
    <th:block th:include="~{templates/header_footer.html :: styles}">
    </th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="~{templates/header_footer.html :: header}"></div>
<main class="overlay d-flex align-items-end">
    <div class="container" style="padding-top: 50px">
        <div class="row justify-content-center">

            <div class="card w-80 br-d">
                <div class="card-header gradient-main font-f-m" th:utext="#{department.new.add}">

                </div>
                <div class="card-body">
                    <form th:action="@{/user/password}" method='POST' th:object="${user}">
                        <input type="number" th:field="*{id}" hidden>
                        <div class="form-group">
                            <label for="password" class="bmd-label-static" th:utext="#{page.form.registration.password}">Password</label>
                            <input type="password" class="form-control" id="password"
                                   th:placeholder="#{page.form.registration.password}" name='password' th:field="*{password}"
                                   required>
                            <span class="bmd-help">Имя</span>
                        </div>
                        <div class="form-group">
                            <label for="passMtc" class="bmd-label-floating"
                                   th:utext="#{page.form.registration.matchingPassword}">Password</label>
                            <input type="password" id="passMtc" class="form-control"
                                   name="password"
                                   th:field="*{matchingPassword}" required>
                            <span class="bmd-help">We'll never share your email with anyone else.</span>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <th:block th:utext="#{page.form.submit}"></th:block>
                            <i class="fas fa-sign-in-alt mr-2"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{templates/header_footer.html :: scripts}">
</th:block>
</body>
</html>